
.faq-question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.faq-answer {
  display: none;
  margin-top: 5px;
}
.faq-icon {
  transition: transform 0.3s ease-in-out;
}
.faq-icon.fa-minus {
  transform: rotate(180deg);
}

.faq-item {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ffc0af;
}
.faq-item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
.faq-question {
  font-size: 24px;
}
.faq-answer {
  font-size: 17px;
  margin-top: 16px;
}
.faq-icon.fa-minus, .faq-icon.fa-plus {
background-color: var(--primary-color);
width: 40px;
height: 40px;
text-align: center;
line-height: 40px;
color: #fff;
}

.custom-accordion {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}
.accordion-item {
    border-bottom: 1px solid #ddd;
}
.accordion-header {
    background: #f7f7f7;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordion-content {
    display: none;
    padding: 10px;
}
.accordion-icon {
    font-weight: bold;
}


.almashaan-owl-carousel .owl-prev, .almashaan-owl-carousel .owl-next {
    font-size: 24px;
    color: #333;
    cursor: pointer;
}


.almahsaan-image-hover {
    position: relative;
  }
  .almahsaan-image-hover {
    margin-bottom: 30px;
    overflow: hidden;
  }
  .almahsaan-image-hover img {
    width: 100%;
  }
  .almahsaan-image-content {
    position: absolute;
    bottom: -130px;
    background-color: #d25c3c;
    width: 100%;
    padding: 20px;
    transition: .3s;
  }
  .almahsaan-image-content h4 {
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
  }
  .almahsaan-image-content a {
    display: block;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #fff;
  }
  .almahsaan-image-content a:hover{
    color: white;
  }
  .almahsaan-image-content a i {
    background-color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #d25c3c;
  }
  .almahsaan-image-hover:hover .almahsaan-image-content {
    bottom: 0;
  }

  
.single-image-box {
  background-color: #fff;
  border: 1px solid #f4f4f4;
  padding: 20px;
  position: relative;
  overflow: hidden;
}
.single-image-box i {
  position: absolute;
  right: 15px;
  top: -45px;
  background-color: #fff;
  color: #fff;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border: 1px solid #d25c3c;
  color: #d25c3c;
  border-radius: 50%;
  transform: rotate(-45deg);
  transition: .3s;
}
.single-image-box:hover i {
  top: 15px;
}

.single-image-box h4 {
  font-size: 22px;
  margin: 20px 0 10px;
  font-weight: 700;
}
.single-image-box p {
  font-size: 15px;
}
.single-image-box img {
  max-width: 50px;
}



@media md, only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .working-process__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.working-process__item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.working-process__item:last-child::before {
  display: none;
}
.working-process__item::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: translate(110%, 25%);
          transform: translate(110%, 25%);
  background-repeat: no-repeat;
  background-image: url('../img/shape.svg');
}
@media (max-width: 575px), only screen and (min-width: 576px) and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) and (max-width: 1399px) {
  .working-process__item::before {
    display: none;
  }
}
.working-process__icon {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 500px;
  border: 1px dashed rgba(8, 10, 11, 0.3);
  -webkit-filter: drop-shadow(0px 0px 60px rgba(21, 24, 27, 0.1));
          filter: drop-shadow(0px 0px 60px rgba(21, 24, 27, 0.1));
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
  .working-process__icon {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .working-process__icon {
    margin-bottom: 20px;
  }
}
.working-process__icon .number {
  font-size: 16px;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 500px;
  font-family: var(--rr-ff-heading);
  background: #F4F1EE;
  border: 1px dashed rgba(8, 10, 11, 0.3);
}
.working-process__icon:hover {
  background-color: var(--rr-common-white);
}
.working-process__icon:hover svg [fill="#080A0B"] {
  fill: var(--rr-theme-primary);
}
.working-process__icon:hover .number {
  background: var(--rr-heading-primary);
  color: var(--rr-common-white);
}
.working-process__text {
  max-width: 300px;
}
.working-process__text h6 {
  margin-bottom: 10px;
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .working-process__text {
    max-width: 100%;
  }
}

.working-process__icon {
  position: relative;
}
.working-process__icon:after {
  position: absolute;
  content: "";
  width: 100px;
  height: 2px;
  right: -165px;
  background-image: url('../img/shape.svg');
  height: 100%;
  width: 100%;
  top: 60px;
  background-repeat: no-repeat;
}
.container .row .col-md-3:last-child .working-process__icon:after {
  display: none;
}

.almashaan-slider-content h4 {
  font-size: 70px;
  font-weight: 800;
}
.almashaan-slider-content p {
  font-size: 18px;
  line-height: 27px;
  margin: 25px 0;
}
.almashaan-slider-list {
  display: flex;
  gap: 30px;
  align-items: center;
}
.almashaan-slider-list span img {
  max-width: 40px;
}
.almashaan-slider-list span {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 13px;
}

.almashaan-slider-content a {
  display: inline-block;
  background-color: #d25c3c;
  text-transform: uppercase;
  color: #fff;
  border-radius: 9px;
  padding: 10px 30px;
  margin-top: 35px;
}

#almashaanBanner {
  position: relative;
}

#almashaanBanner .carousel-control-prev,
#almashaanBanner .carousel-control-next {
  position: absolute;
  bottom: -100px; /* Adjust the distance from the bottom */
  top: auto;
  left: 50%;
  transform: translateX(-50%);
  width: 40px; /* Adjust width if needed */
  height: 40px; /* Adjust height if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Background color for visibility */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#almashaanBanner .carousel-control-prev {
  left: calc(50% - 30px); /* Positioning left arrow */
}

#almashaanBanner .carousel-control-next {
  left: calc(50% + 30px); /* Positioning right arrow */
}

#almashaanBanner .carousel-control-prev-icon,
#almashaanBanner .carousel-control-next-icon {
  width: 20px;
  height: 20px;
}
#almashaanProjectsLider .carousel-control-prev, #almashaanProjectsLider .carousel-control-next {
	position: absolute;
	top: -70px;
	right: 10px;
	left: auto;
	width: auto;
	background: #333;
	padding: 10px;
	border-radius: 5px;
	height: 50px;
	opacity: 1;
}

#almashaanProjectsLider .carousel-control-prev {
    right: 50px; /* Space between next and previous button */
}
